header{
    background-color: $color-header;
    padding: 20px;
    width: 100%;
    height: 50%;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    li{
        list-style: none;
        a{
            text-decoration: none;
            font-size: 30px;    
        }
    }
}