.mision{
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.vision{
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}