.carrito{
    display: grid;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: auto;
    font-family: $letra;
    margin-bottom: 20%;
    margin-top: 20%;
    padding-top: 20px;
}