@import url('http://fonts.googleapis.com/css2?family=Lato:wght@100family=Poppins:wght@200&family=Roboto:wght@100&display=swap');
/*movile first*/
*{
    padding: 0;
    margin: 0;
}

main{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
body li{
    list-style: none;
    font-size: 25px;
    display: inline-block;

}

body{
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

header{
    font-size: large;
    display:grid;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 3.5rem 0;
    z-index: 9;
    display: block;
    background-color: rgb(255 169 240);
    width: 100%;
    height: 100%;
}
.navegacion{
    display:  grid;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.selena shops{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255 169 240);
    text-align: center;
    margin-top: 10px;
}

.bienvenida{
    font-family: var(--jost);
    font-size: 1.8rem;
    color: var(--silver3a);
    letter-spacing: .12rem;
    max-width: 68rem;
    margin: auto;
}
.descripcion{
    border: 20px dotted black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    color: var(--silver3a);
    letter-spacing: .12rem;
    max-width: 68rem;
    margin: auto;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
footer{
    text-align: center;
    background-color: #65969d;
    padding: 4rem 0 3rem;
    margin-bottom: 0;
    margin-top: 15px;

    
}

section h2{
    color: black;
    padding: 20px;
    margin: 40px 40px 40px 40px;
    text-align: center;
}
section p{
    color: black;
    padding: 20x;
    margin: 40px 40px 40px 40px;
    text-align: initial;
}
section{
    background-color: cornsilk;
    padding: 30px;
    margin: 80px 40px 80px 40px;
}
iframe{
    width: 100%;
    height: 50%;
    align-items: center;
}

.muestra{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    align-items: center;
}



.prenda{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    display:grid;
    grid-column-gap: 20px;
    justify-items: center;
    display : flex;
    align-items: center;
}
.prenda img{
    width: 20%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 30%,30%,30%;
    grid-template-rows: 30%,30%,30%;
    
}
.prendas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}
.catalogoImagen{
    width: 100%;
    height: auto;
    padding-left: 40px;
    align-items: center;
}

.carrito{
    align-items: initial;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;

}

.logo{
    display: flex;
    align-items:initial;
    
}

.header{
    grid-area: header;
}
.navegacion{
    grid-area: navegacion;
}
.image{
    grid-area: image;
}
.footer{
    grid-area: footer;
}
.prenda{
    grid-area: prenda;
}

@media screen and (max-width: 768px) {
    header{
        display: none;
    }
    .navegacion{
        display: none;
    }
    .prenda{
        display: none;
    }
    .catalogoImagen{
        display: none;
    }
    .carrito{
        display: none;
    }
    .logo{
        display: none;
    }
    .header{
        grid-area: header;
    }
    .navegacion{
        grid-area: navegacion;
    }
    .image{
        grid-area: image;
    }
    .footer{
        grid-area: footer;
    }
    .prenda{
        grid-area: prenda;
    }
}





    




